<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành công</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333333;
        }
        /* Responsive styles */
        @media only screen and (max-width: 600px) {
            .container {
                width: 100% !important;
                padding: 10px !important;
            }
        }
    </style>
</head>
<body>
    <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f8f8;">
        <h2 style="text-align: center; color: #333333;">Xác nhận email thành công</h2>
        <hr style="border: 0; border-top: 1px solid #dddddd;">
        <p style="font-size: 17px; line-height: 1.5; color: #000000; text-align: center;">Email của bạn đã được xác minh thành công. Vui lòng đăng nhập lại</p>
        <p style="font-size: 16px; line-height: 1.5; color: #666666; text-align: center; font-weight: bold;">Cảm ơn bạn đã tham gia cùng chúng tôi</p>
    </div>
</body>
</html>
